[class*="col-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: rgb(0, 106, 177);
    color: white;
    min-height: 50px;
}

.container {
    margin-bottom: 15px;
}

.col {
    border: 1px solid white;
    background-color: rgb(0, 106, 177);
}

.col > .row {
    padding: 10px;
}

.col [class*="col-"] {
    background-color: limegreen;
}
